// Add a vertical background gradient to the element starting from the first and
// transitioning downwards to the second color.
@mixin linear-gradient($color-top, $color-bottom) {
  background-color: $color-bottom;
  background-image: linear-gradient(to bottom, $color-top, $color-bottom);
}

@mixin transform($transform) {
  transform: $transform;

  // prevent jagged edges
  -webkit-backface-visibility: hidden;
}
