// Font stacks are based on
// http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/
$font-family-monospace: 'Courier New', Courier, monospace;
$font-family-sans-serif: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-serif:      Georgia, Times, 'Times New Roman', serif;

// font stack proxies
$font-family-branding: 'Lato', $font-family-sans-serif;
$font-family-code:     'Source Code Pro', $font-family-monospace;
$font-family-content:  'PT Serif', $font-family-serif;
$font-family-headings: 'PT Serif', $font-family-serif;
$font-family-inputs:   $font-family-sans-serif;

// available font-size and line-height combinations based on above defaults:
//
//   font-size  |   line-height    |    6px     |    10px
// -------------+------------------+------------+------------
//    10px      |  1.8em  /  18px  |  0.6em     |  1em
//    12px      |  1.5em  /  18px  |  0.5em     |
//    15px      |  1.6em  /  24px  |  0.4em     |
//    16px      |  1.5em  /  24px  |  0.375em   |  0.625em
//    20px      |  1.8em  /  36px  |  0.3em     |  0.5em
//    24px      |  1.5em  /  36px  |  0.25em    |
//    25px      |  1.68em /  42px  |  0.24em    |  0.4em
//    30px      |  1.6em  /  48px  |  0.2em     |
//    32px      |  1.5em  /  48px  |  0.1875em  |  0.3125em
//    40px      |  1.5em  /  60px  |  0.15em    |  0.25em
//    48px      |  1.5em  /  72px  |  0.125em   |
//    50px      |  1.56em /  78px  |  0.12em    |  0.2em
//    60px      |  1.5em  /  90px  |  0.1em     |
//    75px      |  1.52em / 114px  |  0.08em    |
//    80px      |  1.5em  / 120px  |  0.075em   |  0.125em
//    96px      |  1.5em  / 144px  |  0.0625em  |
//   100px      |  1.5em  / 150px  |  0.06em    |  0.1em
//   120px      |  1.5em  / 180px  |  0.05em    |
