// media queries to use in @media-directives
$query-small:       ('min-width: 480px');
$query-medium:      ('min-width: 720px');
$query-large:       ('min-width: 960px');
$query-extra-large: ('min-width: 1200px');
