@import 'colors';
@import 'css3';
@import 'fonts';
@import 'grid';
@import 'media-queries';
@import 'normalize';

%responsive-container {
  margin: {
    left: auto;
    right: auto;
  }
  width: 92%;
}

@media (#{ $query-small }) {
  %responsive-container {
    width: 90%;
  }
}

@media (#{ $query-medium }) {
  %responsive-container {
    width: 86%;
  }
}

@media (#{ $query-large }) {
  %responsive-container {
    width: 80%;
  }
}

@media (#{ $query-extra-large }) {
  %responsive-container {
    width: 96em;
  }
}

body {
  @extend %responsive-container;

  font-size: 62.5%;
  margin-top: 2.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  color: $color-brand;
  display: none;
  font-size: 2.4em;
  line-height: 1.5em; // 36px
  margin-bottom: 0.5em; // 12px
}

html {
  background: $color-brand-darkest;
}

#turtle {
  margin: 0 auto;
  width: 100%;

  > canvas {
    margin: 0 auto;
  }
}
