@import 'colors';
@import 'css3';
@import 'fonts';
@import 'grid';
@import 'media-queries';
@import 'normalize';

%responsive-container {
  margin: {
    left: auto;
    right: auto;
  }
  width: 92%;
}

@media (#{ $query-small }) {
  %responsive-container {
    width: 90%;
  }
}

@media (#{ $query-medium }) {
  %responsive-container {
    width: 86%;
  }
}

@media (#{ $query-large }) {
  %responsive-container {
    width: 80%;
  }
}

@media (#{ $query-extra-large }) {
  %responsive-container {
    width: 96em;
  }
}

body {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headings;
  margin: 0;
}

h1 {
  color: $color-brand;
  font-size: 2.4em;
  line-height: 1.5em; // 36px
  margin-bottom: 0.5em; // 12px
}

header {
  @extend %responsive-container;
}

html {
  background: $color-neutral-lightest;
}

p {
  font-size: 2.4em;
  line-height: 1.5em; // 36px;
}

section {
  @extend %responsive-container;
}

#turtle {
  background: $color-brand-darkest;

  > canvas {
    margin: 0 auto;
    // width: 100%;
  }
}
